.btn-1,
.btn-2 {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    color: white !important;
    font-size: 1rem !important;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

.btn-1 {
    background-color: #0969da !important;
    border: none !important;
    transition: ease-in 0.3s !important;

}

.btn-1:hover {
    box-shadow: inset 300px 0 0 0 #64ffdbc9 !important;
    color: #000000 !important;
}