.tagline {

    -webkit-animation-name: taglineEmerge;
    animation-name: taglineEmerge;
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes taglineEmerge {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1
    }
}

@keyframes taglineEmerge {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1
    }
}

.tagline span {
    /* display: block; */
    /* -webkit-transform: translateY(50px);
transform: translateY(50px); */
    /* opacity: 0 */
}


/* .tagline span {
    -webkit-animation-name: taglineEmerge;
    animation-name: taglineEmerge;
    -webkit-animation-duration: 1400ms;
    animation-duration: 1400ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.tagline span:nth-of-type(2) {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms
}

.tagline span:nth-of-type(3) {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms
} */

.precis {
    overflow: hidden
}

@media (max-width: 739px),
(max-height: 699px) {
    .precis.above-fold {
        display: none
    }
}

.precis .plate {
    background: white;
    display: flex;
    align-items: center;
    padding: 27px 0 39px;
    justify-content: space-between;
    position: relative
}

@media (max-width: 739px) {
    .precis .plate {
        display: block
    }
}

.precis .plate:before,
.precis .plate:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 100%
}

.precis .plate:after {
    right: 0;
    background: white;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    width: calc((100vw * 0.13) / 2);
    -webkit-box-shadow: -1px 0 0 white;
    box-shadow: -1px 0 0 white
}

@media (min-width: 1142px) {
    .precis .plate:after {
        width: calc((100vw - calc(996 * 1px)) / 2)
    }
}

@media (max-width: 499px) {
    .precis .plate:after {
        width: calc((100vw * 0.13) / 3.5)
    }
}

.precis .plate:before {
    left: 0;
    background: white;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: calc((100vw * 0.13) / 3.5);
    -webkit-box-shadow: 1px 0 0 white;
    box-shadow: 1px 0 0 white
}

.precis .prose {
    max-width: 569px;
    color: #333333;
    padding-top: 3px;
    line-height: 1.5;
    margin-right: 20px
}

@media (max-width: 739px) {
    .precis .prose {
        margin-bottom: 20px;
        font-size: 1rem
    }
}

@media (max-width: 499px) {
    .precis .prose {
        font-size: 0.9375rem;
        line-height: 1.4
    }
}