@font-face {
    font-family: "Cabinet";
    src: url('./CabinetGrotesk_Complete/Fonts/OTF/CabinetGrotesk-Regular.otf');
}

* {
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Nunito", Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth !important;
}

::selection {
    background-color: #96ec96;
    color: #000;
    padding: 1rem;
}

:root {
    --main-background-color: #0a2540;
    --main-text-color: #ffffff;
    --color-primary: #214fe0;
    --color-dark: #1d1f20;
    --color-light: #f4f4f4;
    --color-shade: #bbb;
    --lock-stroke: 2.5px;
    --royal-gra: #627597 !important;
    --light: #FAFAFF;
    --dark: #30343f;
    --darkLight: #636b83;
    --mayerPurple: #614685;
    --darkBlue: #1E2749;
    --darkBlueLighter: #25315b;
    --yellow: #FED766;
    --gray: #8892b0;
    --blueGray: #545677;
    --lightGray: #D1D1D1;
    --clearlinkBlue: #1990ff;
    --blue-text: #0a2540;
    --color-workflow-card-connector-inactive: #040d21;
    --color-workflow-card-header-shadow: #1b1f230a;
    --color-calendar-halloween-graph-day-L1-bg: #631c03;
    --color-calendar-halloween-graph-day-L2-bg: #bd561d;
    --color-calendar-halloween-graph-day-L3-bg: #fa7a18;
    --color-calendar-halloween-graph-day-L4-bg: #fddf68;
    --color-calendar-graph-day-bg: var(--color-scale-gray-8);
    --color-calendar-graph-day-border: #1b1f230f;
    --color-calendar-graph-day-L1-bg: #0e4429;
    --color-calendar-graph-day-L2-bg: #006d32;
    --color-calendar-graph-day-L3-bg: #26a641;
    --color-calendar-graph-day-L4-bg: #39d353;
    --color-calendar-graph-day-L1-border: #ffffff0d;
    --color-calendar-graph-day-L2-border: #ffffff0d;
    --color-calendar-graph-day-L3-border: #ffffff0d;
    --color-calendar-graph-day-L4-border: #ffffff0d;
    --coolers-green-pale: #80b918;
    --background-primary: #2d3748;
    --background-secondary: #1a212d;
    --action-primary: #728197;
    --action-secondary: #2d3748;
    --foreground-primary: #edf2f7;
    --foreground-secondary: #ccd6e0;
    --foreground-tertiary: #a0aec0;
    --accent: #667fea;
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: scrollbar;
    scrollbar-color: #000;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 0.375rem;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
}

::-webkit-scrollbar-track {
    background: transparent;
}

body {
    counter-reset: section;
    background-color: #111827;
}

@media screen and (max-width: 1024px) {
    html,
    body {
        overflow-x: hidden
    }
}

strong {
    color: #fb5353;
}

.markit {
    color: var(--color-calendar-halloween-graph-day-L3-bg);
    font-weight: 600;
}

.theme {
    position: absolute;
    background: #ffffff;
    height: 40px;
    width: 40px;
    right: 24px;
    top: 24px;
    border-radius: 100%;
    z-index: 0;
}

h1 {
    font-size: 4em;
    margin: 0
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 3em
    }
}

@media screen and (max-width: 1024px) {
    h2 {
        font-size: 1rem
    }
}

.navbar ul {
    margin: 0 auto;
    float: right;
}

.socialbtns {
    display: flex;
    align-items: center;
}

.socialbtns a {
    display: inline-block;
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:1024px) {
    .socialbtns {
        position: absolute;
        bottom: 130px;
        width: 90%;
        display: flex;
        justify-content: center;
    }
}

.navbar li>a {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.social {
    display: flex;
    margin-top: 48px;
    padding-bottom: 48px
}

@media screen and (max-width: 1024px) {
    .social {
        justify-content: center
    }
}

.social a {
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 24px;
    opacity: 0.8
}

.social a:hover {
    opacity: 1
}

.social a:last-child {
    margin-right: 0
}

.main-container {
    width: 100%;
    z-index: 1;
    height: 100%;
    display: flex;
}

.main-container .intro {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* height: 98%; */
    padding: 0px 0px 0px 180px;
}

@media(min-width:1000px) {
    * {
        cursor: url("./img/cursor.svg") 16 16, pointer;
    }
}

@media screen and (max-width: 1024px) {
    .main-container .intro {
        padding: 0;
    }
    .main-container .intro {
        justify-content: center;
    }
    #home .container {
        color: white !important;
    }
}

.headerbtn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.resumebtn {
    /* border: 1px solid white !important;
    color: white !important;
    font-size: 16px !important;
     */
    font-size: 17px !important;
    display: flex;
    /* width: 200px; */
    align-items: center;
    /* padding: 0.8em 1.2em; */
    /* border-radius: 4px; */
    /* border: 0; */
    font-weight: 700 !important;
    background: #00e472 !important;
    color: #181818 !important;
    cursor: pointer !important;
}

.contactheadbtn {
    background-color: white !important;
    color: #111827 !important;
    font-size: 16px !important;
}

.main-container .intro .details {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .main-container .intro .details {
        flex: 0 0 60%;
    }
    .main-container .intro .details {
        color: white !important;
        margin-top: 100px
    }
}

.main-container .intro .details h5 {
    color: #51ceb5;
    font-family: 'Roboto', sans-serif !important;
}

.main-container .intro .details h1 {
    margin: 12px 0;
}

.main-container .intro .details h2 {
    margin: 6px 0;
    margin-bottom: 48px;
    color: #8892b0;
}

.main-container .intro .details .mail,
.main-container .intro .details .location {
    display: flex;
    align-items: center;
    font-size: 1em;
    margin-top: 16px;
    color: #51ceb5;
}

@media screen and (max-width: 1024px) {
    .main-container .intro .details .mail,
    .main-container .intro .details .location {
        width: 100%;
        text-align: left !important;
    }
}

.main-container .intro .details .mail a,
.main-container .intro .details .mail span,
.main-container .intro .details .location a,
.main-container .intro .details .location span {
    text-decoration: none;
    color: var(--main-text-color);
    margin-left: 12px;
    color: #636b83;
}

.main-container .intro .details .mail a:hover,
.main-container .intro .details .location a:hover {
    text-decoration: underline
}

.main-container .intro .details .social {
    display: flex;
    margin-top: 48px;
    color: #64ffda !important;
}

@media screen and (max-width: 1024px) {
    .main-container .intro .details .social {
        justify-content: center
    }
}

.main-container .intro .details .social a {
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.5em;
    margin-right: 24px;
    opacity: 0.8;
    transition: all .2s ease-in-out;
    color: #64ffda;
}

.main-container .intro .details .social a:hover {
    opacity: 1;
    transform: scale(1.1);
}

.main-container .intro .details .social a:last-child {
    margin-right: 0
}

@media screen and (max-width: 1024px) {
    .profilephoto {
        flex: 0 0 40%
    }
}

main {
    /* 010319 */
    background-color: #111827 !important;
}

#aboutsection {
    /* 010319 */
    background-color: #111827;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 0.3em solid #00ce79;
    /* font-family: "Nunito", Helvetica, Arial, sans-serif; */
    font-family: "Cabinet" !important;
}


/* #aboutsection::before {
    content: ' ';
    position: fixed;
    width: 99%;
    height: 99%;
    top: 0;
    left: 0;
    background: url('./img/projectcard.svg'), url('./img/blob3.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: 386px auto, 320px auto;
    background-position: top -30px left -170px, bottom -50px right -20px;
    will-change: transform;
    z-index: -1;
} */

.aboutprofile {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
    padding: 0;
}

#aboutsection {
    min-height: 85vh;
    margin: 0 !important;
    margin: 0;
}

.bio {
    margin-left: 30px;
}

@media(min-width:1000px) {
    .bio p {
        color: white;
        margin-left: 0px;
    }
    .bio {
        margin-left: 5px;
    }
}

.about-title {
    line-height: 40px !important;
    color: #fff;
    text-align: center;
    font-size: 37px !important;
}

.bio p {
    font-size: 1.55rem;
    color: #fff;
    font-weight: 300;
}

p[data-bio]::before {
    content: "❝";
}

p[data-bio]::after {
    content: "❞";
    display: inline-block;
    font-size: 2rem;
    color: #fff;
}

.bio a {
    font-weight: normal;
    font-size: 19px;
}

.profile-header-container {
    width: 270px;
    height: 270px;
    background: url('./img/blob3.svg') no-repeat;
    background-position: top -30px left -40px;
    background-size: 129% 129%;
}

.profile-header-container .top-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile-header-container .top-container .profile-image {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

@media(max-width:1000px) {
    #aboutsection::before {
        background: url('./img/page-top-left.svg'), url('./img/blob.svg');
        background-repeat: no-repeat, no-repeat;
        background-size: 220px auto, 300px auto;
        background-position: top -30px left -70px, bottom right -100px;
    }
    #aboutsection {
        padding-top: 50px;
    }
    .profile-header-container {
        width: 200px;
        height: 200px;
    }
    .profile-header-container .top-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile-header-container .top-container .profile-image {
        height: 190px !important;
        width: 190px !important;
        border-radius: 50%;
        /* border: 3px solid #00ce79; */
        background-position: 0 0;
        background-position: 1cm 2cm;
        background-position: 10ch 8em;
    }
}

.school {
    color: #ff5958;
    word-wrap: break-word;
}

.coding_container {
    background-color: #111827;
    padding-bottom: 10vh;
}

.Leetcode_Stats {
    position: relative;
    padding: 0px 20px !important;
}

.LeetcodeLogo {
    position: absolute;
    top: 40px;
    left: -20px;
}

.Leetcodequestion img {
    height: auto;
    width: 356px !important;
}

.codingsectiontitle {
    color: white;
    font-size: 4rem;
    text-align: center;
    text-decoration: 2px underline #00ce79;
    text-underline-offset: 10px;
}

.coding {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.gfglogo {
    white-space: nowrap;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 5px;
}

.gitstats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gitstats img {
    transform: scale(0.9);
}

@media(max-width:1000px) {
    .gitstats img {
        transform: scale(0.7);
    }
    .stats2 {
        margin-top: -30px;
    }
    .codingsectiontitle {
        color: white;
        font-size: 3rem;
    }
}


/* .codingplatform a {
    max-width: 100px;
    height: fit-content;
}

.codingplatform a img {
    max-width: 200px;
    max-height: 150px;
} */

.expertise_container {
    background-color: #111827 !important;
    padding: 30px 0px;
    display: flex;
    overflow: hidden;
    border-left: 0.3em solid #00ce79;
}


/* .sideimg1 {
    position: absolute;
    left: 0;
    top: -5%;
    height: 56%;
    z-index: 0;
}

.sideimg2 {
    position: absolute;
    right: 0;
    bottom: -30px;
    height: 50%;
    z-index: 0;
} */

.expertise {
    padding: 0%;
    z-index: 1000;
}

.expertise h1 {
    margin: 0;
    font-size: 3rem;
    margin-bottom: 50px;
    color: #FAFAFF !important;
    position: relative;
}

.expertise h1::after {
    background: url("https://raw.githubusercontent.com/tbaltrushaitis/cv/master/src/assets/img/section-divider.png") no-repeat 0 0;
    position: absolute;
    top: 70px;
    content: "";
    height: 15px;
    left: 0;
    margin: 0 auto;
    right: 0;
    width: 113px;
}

.expertise h4 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fb5353;
}

.expertise .card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    box-shadow: none;
    align-items: center;
    background-color: transparent;
    z-index: 1000;
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    .expertise .card {
        justify-content: space-evenly;
        padding: 0;
    }
    .expertise h1 {
        padding: 0;
    }
}

.expertise .card .item {
    width: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    min-width: fit-content;
    color: var(--color-light);
    z-index: 1000;
    transition: all 0.3s;
}

@media screen and (max-width: 1024px) {
    .expertise .card .item span {
        -webkit-transform: translateY(0) !important;
        transform: translateY(0) !important;
        font-size: 0.8em
    }
    .expertise .card .item img {
        height: 48px !important;
        z-index: 1000;
    }
    .expertise .card .item i {
        font-size: 48px !important
    }
}

.expertise .card .item:hover span {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: all 0.3s;
}

.expertise .card .item img {
    height: 34px;
    align-self: center;
}

.expertise .card .item span {
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-top: 8px;
    -webkit-transform: translateY(150%);
    transform: translateY(150%);
    transition: all 0.2s;
    text-align: center;
    white-space: nowrap
}

@media screen and (max-width: 1024px) {
    .expertise .card .item span {
        white-space: initial;
    }
}

@media(min-width:1000px) {
    #grad1 {
        height: 100px;
        background: linear-gradient(#111827, #111827);
    }
}

.experience_container {
    background-color: #111827;
    padding: 0;
    will-change: transform;
    position: relative;
    overflow: hidden;
}

.experience_container::before {
    content: ' ';
    position: fixed;
    width: 99%;
    height: 99%;
    top: 0;
    left: 0;
    background-color: white;
    background: url('./img/Splash-BG.svg') no-repeat center center;
    background-size: 90%;
    will-change: transform;
    z-index: -1;
}

.exptitle {
    color: var(--color-light);
    font-size: 4rem;
    margin-bottom: 60px;
}

.experience .card {
    /* margin-top: 48px; */
    margin-left: 20px;
    font-size: 16px !important;
    max-width: 800px;
    /* background: #38444b !important; */
    padding: 24px;
    box-shadow: 1rem 0 3rem #000;
    color: #0d1117;
    background-color: #fff;
    transition: all .4s;
    border: 1px solid transparent;
    padding: 20px 40px 20px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 900px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
}

.timeline-body {
    color: #d8d8d7 !important;
    font-weight: 500;
}

.experience .card:hover {
    border: 1px solid violet;
    background-color: #0c162d;
    color: #f4f4f4 !important;
}

.projects h1 {
    margin-bottom: 20px;
}

.projects h5 {
    color: var(--color-calendar-halloween-graph-day-L3-bg);
}

.projects .card {
    padding-bottom: 10px;
}

.projects .card h4 {
    font-weight: 400;
}

.projects .card h3::before {
    counter-increment: section 1;
    content: "0"counter(section) ".";
    margin-right: 10px;
    position: relative;
}

.experience .card h3 {
    margin: 0;
    margin-bottom: 12px;
    color: #1a73e8;
}

.experience .card h4 {
    margin: 0;
    margin-bottom: 8px;
}

.experience .card h4.company {
    /* color: rgb(88 199 250 / 100%); */
    color: #ff9800;
}

.experience .card h4.company::before {
    content: '@';
}

.experience .card h7.time {
    margin-bottom: 12px;
    color: #D1D1D1;
}

.experience .card .description p {
    text-align: justify;
    font-size: 16px;
}

.technology {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 30px;
    max-height: 100px;
    flex-direction: column;
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    .technology {
        margin-top: 30px;
        max-height: 150px;
    }
    .experience .card {
        margin-left: 20px;
    }
    .experience_container::before {
        position: fixed;
        width: 100%;
        height: 90%;
        top: 0;
        left: 0;
        background-color: white;
        background: url('./img/Splash-BG.svg') no-repeat center center;
        /* background-size: cover; */
        background-size: 480%;
        will-change: transform;
        z-index: -1;
    }
}

.tech {
    color: var(--clearlinkBlue);
    position: relative;
    font-weight: 700;
    font-size: 14px;
}

.tech::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    content: '\f192';
}

.project-section-padding {
    padding: 40px 0px;
}

.projects_container {
    position: relative;
    z-index: 1000;
}

.projects_container::before {
    content: ' ';
    position: absolute;
    width: 90%;
    height: 100%;
    background: url('./img/roadmap.svg');
    background-size: 99%;
    background-position: 0 10vh;
    will-change: transform;
    z-index: -1;
}

.projects h1 {
    /* margin-top: 100px; */
    color: var(--color-light);
}

.projects h5:nth-child(3) {
    background-color: wheat;
}

@media(max-width:700px) {
    .projects h1 {
        margin-left: 20px;
    }
    .projects h5 {
        margin-left: 20px !important;
    }
}

.projects .cards {
    display: flex;
    flex-wrap: wrap;
}

.projects .cards h6 {
    color: var(--lightGray);
}

.projects_container>div>div>div>h3 {
    color: #9fd6c8;
}

.projects .cards .card {
    /* background-color: #0c162d; */
    /* background: var(--background-primary); */
    transition: all .4s;
    background-color: transparent;
    /* background-image: linear-gradient(147deg, #000000 0%, #2d3748 74%); */
    padding: 10px 20px 20px 20px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    box-shadow: none;
    background: url('./img/projectcard1.svg') no-repeat;
    background-position: top -6px left 287px;
    background-size: contain;
}

@media(max-width:700px) {
    .projects .cards .card {
        padding: 10px 5px 20px 5px;
    }
}

.bgxac {
    color: #ff0a54 !important;
}

@media(max-width: 1024px) {
    .projects {
        padding: 0 !important;
    }
}

.projects .cards .card h3 {
    color: #f7f6ff;
    font-weight: 400;
    font-size: 28px;
    text-transform: capitalize;
}

@media(max-width:800px) {
    .projects .cards .card h4 {
        font-size: 16px;
    }
}

.projects .cards .card .cardBody {
    display: flex;
    justify-content: flex-start;
}

@media(max-width:800px) {
    .projects .cards .card .cardBody {
        flex-direction: column;
    }
}

.projectcardcarsol {
    padding: 15px;
    background-color: #31373c !important;
    border: 3px solid #49525d;
    background-color: #262932;
    -webkit-box-shadow: 1px 1px 2px 1px rgb(29 28 28 / 8%);
    box-shadow: 1px 1px 2px 1px rgb(29 28 28 / 8%);
    border-radius: 00.7em;
    height: fit-content;
}

.projects .cards .card .thumb {
    overflow: hidden;
    max-width: 50%;
    border-radius: 0.7em;
}

@media(max-width:800px) {
    .projects .cards .card .thumb {
        max-width: 100%;
    }
    .projectcardcarsol {
        padding: 10px;
    }
}

.projects .cards .card .thumb img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 00.7em;
    background-position: center;
}

.projects .cards .card .thumb .carousel {
    width: 100%;
    /* max-width: 900px */
}

.projects .cards .cardBody .details {
    background-color: transparent !important;
}

.projects .cards .card .details {
    line-height: 1.5;
    text-align: justify;
    color: rgba(255, 255, 255, 0.829);
    padding: 28px 10px;
    background-color: transparent;
}

.projects .cards .card .details a {
    color: var(--main-text-color);
}

.projects .cards .card .links {
    display: flex;
    margin-left: auto;
    justify-content: center;
}

.projects .cards .card .links a {
    color: var(--clearlinkBlue);
    font-weight: 100;
    font-size: 20px;
    transition: transform 0.2s;
}

.projects .cards .card .links a i {
    -webkit-text-stroke: 0.01px var(--background-primary);
}

.projects .cards .card .links a:hover {
    color: var(--color-calendar-graph-day-bg) !important;
    transform: scale(1.1);
}

.projects .cards .card .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
    margin-top: 30px;
}

.projects .cards .card .tags span {
    display: inline-block;
    border-radius: 8px;
    padding: 2px 8px;
    white-space: nowrap;
    background-color: #f0f7ff;
    border: 1px solid #e0e3e7;
    color: #0072e5;
    font-weight: 500;
}

#vantajs {
    width: 100%;
    height: 300px;
}

.animate__fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.text-gradient-mint-blue-dark {
    background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #0000;
    -webkit-box-decoration-break: clone;
}

.grad-text {
    font-size: 44px !important;
    line-height: 68px !important;
}

@media (max-width: 1024px) {
    .grad-text {
        font-size: 30px !important;
        line-height: 48px !important;
    }
}

.text-gradient-pink-blue {
    background: -webkit-linear-gradient(-70deg, #db469f 0%, #2188ff 100%) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: #0000 !important;
    -webkit-box-decoration-break: clone !important;
}

.text-gradient-coral-yellow-dark {
    background: -webkit-linear-gradient(-70deg, #ff7170 0%, #ffe57f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #0000;
    -webkit-box-decoration-break: clone;
}

.text-gradient-coral-green-dark {
    background: -webkit-linear-gradient(-70deg, #43aa8b 0%, #ffe57f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #0000;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.text-primary {
    color: #0969da !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    transition: all 0.2;
    opacity: 0.7;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    opacity: 1;
}

.carousel-dark .carousel-indicators [data-mdb-target] {
    background-color: #fff9 !important;
    width: 9px;
    height: 8px;
    border-radius: 50%;
}

.reveal {
    position: relative;
    transform: translateY(30px);
    opacity: 0;
    transition: 1s all ease-in-out;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.expline {
    border-left: 3px solid #0affc2;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: transparent;
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 80%;
}

@media (max-width: 800px) {
    .expline {
        max-width: 100%;
        padding: 0px;
    }
}

.expline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.expline h2,
.expline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.expline .event {
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .expline .event {
        padding-top: 30px;
    }
}

.expline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
    color: var(--clearlinkBlue);
}

.expline .event:before,
.expline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.expline .event:before {
    left: -257px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 767px) {
    .expline .event:before {
        left: 10px;
        text-align: left;
    }
}

.expline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .expline .event:after {
        left: -6px;
    }
}

.rtl .expline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .expline .event::before {
    left: 0;
    right: -170px;
}

.rtl .expline .event::after {
    left: 0;
    right: -55.8px;
}

.slider {
    width: 100%;
    height: 400px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#slideLeft {
    position: absolute;
    top: 40%;
    left: -10px;
    z-index: 1000;
    background-color: white;
    opacity: 0.7;
    transition: all 0.3s;
    padding: 10px;
}

#slideRight {
    position: absolute;
    top: 40%;
    right: -10px;
    z-index: 1000;
    background-color: white;
    opacity: 0.7;
    transition: all 0.3s;
    padding: 10px;
}

#slideLeft:hover,
#slideRight:hover {
    opacity: 1;
    transform: scale(1.1);
    border: 1px solid #39c0ed;
}

.slides {
    display: flex;
    width: 100%;
    height: 400px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 20px;
}

.slides>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 660px;
    height: 360px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    background-color: #32363e;
    border: 3px solid #49525d;
    /* background-color: #476ce4; */
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    padding: 10px 5px 0px 5px;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.slideBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.slideBody .thumb {
    width: 100% !important;
    height: 100% !important;
    flex: 1 1 0%;
    border-radius: 1rem;
    padding: 10px;
    padding-bottom: 0;
    border: 0px solid transparent;
    background-color: inherit;
}

.slideBody .thumb img {
    height: 280px;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    flex: 1 0 auto;
    border-radius: 20px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.slider>a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
}

.slider>a:active {
    top: 1px;
}

.slider>a:focus {
    background: #000;
}

.slides>div div.tags {
    margin-bottom: 10px;
}

.slides>div div.links a {
    color: white;
    margin-bottom: 20px;
}

.socialbtns {
    display: flex;
    margin-top: 30px;
    gap: 5px;
    transition: all 0.25s ease;
}

.slides::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

@media(max-width:900px) {
    .slideBody .thumb img {
        background-size: contain;
        border-radius: 10px;
    }
    .slides::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    .slides>div {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 100vw;
        padding: 0;
    }
}

.carousel-caption h5 {}


/* .navbar-brand {
    height: 16px !important;
} */

.navbar-light .navbar-nav .nav-link {
    font-size: 1rem;
}

@media(max-width:1024px) {
    .navbar-light .navbar-nav .nav-link {
        font-size: 2rem;
    }
    .navbar-nav li {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul.navbar-nav {
        width: 100%;
    }
}

@media(min-width:1000px) {
    .nav-item :hover {
        color: #4466f2 !important;
        background-color: #f7f6ff !important;
        border-radius: 10px;
    }
}

.animated-icon1,
.animated-icon2,
.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


/* .animated-icon1 span {
    background: #fff;
} */

.animated-icon1 span {
    background: #e3f2fd;
}

.animated-icon2 span {
    background: #e3f2fd;
}

.animated-icon3 span {
    background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -200px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}


/* Icon 3*/

.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}


/* Icon 4 */

.animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}

.navbar {
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    -webkit-backdrop-filter: blur(20px) !important;
    backdrop-filter: blur(20px) !important;
    box-shadow: inset 0px -1px 1px #e7ebf0 !important;
    background-color: #ffffff7c !important;
}

.navsocialbtns {
    display: none;
}

@media(max-width:990px) {
    .navsocialbtns {
        display: block;
    }
    .navsocialwrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 40px;
    }
    .navsocialwrapper a {
        background-color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .navbar {
        transition: all 15s cubic-bezier(0.075, 0.82, 0.165, 1);
        pointer-events: auto;
        visibility: visible !important;
        backdrop-filter: blur(10px);
        transition: all .4s ease;
        margin-top: 0;
        background-color: #1118276e !important;
        /* box-shadow: none !important; */
        z-index: 2;
        /* backdrop-filter: blur(10px) saturate(125%); */
        /* Blur the background */
        /* 10px Gaussian Blur and saturate for fluent design */
        /* -webkit-backdrop-filter: blur(10px) saturate(125%); */
    }
    .navbar-collapse {
        transform: scale(0);
        will-change: transform;
        border-radius: 50%;
        transition: all .4s ease;
    }
    .navbar-collapse.show {
        transform: scale(1);
        margin-top: 20px;
        border-radius: 0%;
        z-index: 10000;
        height: 98vh;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #fff !important;
    }
    .navbar>.container-fluid {
        justify-content: flex-end !important;
    }
    .navbar-light .navbar-nav .nav-item.active a {
        color: #4466f2 !important;
    }
}

#scroll-progress {
    position: fixed;
    top: 0;
    width: 0%;
    height: 4px;
    background: #7983ff;
    z-index: 10000;
}

@media(max-width:1000) {
    #scroll-progress {
        height: 2px;
    }
}

nav .container-fluid ul li {
    border-radius: 10px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav .container-fluid ul li.active {
    background-color: #fff !important;
}

nav .container-fluid ul li a {
    /* color: #4466f2 !important; */
}

nav .container-fluid ul li.active a {
    color: #4466f2 !important;
}

.form-outline .form-control {
    color: #fff !important;
}

.form-label {
    color: #00e472 !important;
}